.title{
  text-transform: uppercase;
}
.work-exp{
  text-transform: uppercase;
  text-decoration:underline;
}

body{
  text-align:center;
  background-image: url("https://images.pexels.com/photos/2824173/pexels-photo-2824173.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
}
ul {
    text-align: center;
    list-style-position: inside;
}
.objective{
  margin: 0;
  padding: 5px;
  border: solid black;
}
.mnhospice, .dose, .parknic, .metro{
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

